example/freertos/build
sim/
hardisc_*.log
transcript
vsim.wlf
vsim_stacktrace.vstf

todolist.md

# testbench stuff
rtl/tb_mh_wrapper.sv
peripherals/ahb_to_uart_controller.sv                                                                                                                             │
peripherals/uart_controller.sv  
peripherals/ahb_to_uart_controller.sv

# Editor specific stuff
.nvim
.vscode

